<div class="footer ">

  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <div class="card card-body block">
          <h5 class="text-center mb-3">Most popular routes</h5>
        
              <ul class="row">
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:blue;font-size:17px;"></i> <a href="/bus-tickets/Kisumu to Nairobi" target="_blank" style="color:#333333;" title="Kisumu to Nairobi"> Kisumu to Nairobi</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:blue;font-size:17px;"></i> <a href="/bus-tickets/Mombasa to Kisii" target="_blank" style="color:#333333;" title="Mombasa to Kisii"> Mombasa to Kisii</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:blue;font-size:17px;"></i> <a href="/bus-tickets/Naitobi to Mombasa" target="_blank" style="color:#333333;" title="Naitobi to Mombasa"> Naitobi to Mombasa</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:blue;font-size:17px;"></i> <a href="/bus-tickets/Webuye to Mombasa" target="_blank" style="color:#333333;" title="Webuye to Mombasa"> Webuye to Mombasa</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:blue;font-size:17px;"></i> <a href="/bus-tickets/Siaya-to-Nairobi" target="_blank" style="color:#333333;" title="Siaya to Nairobi"> Siaya to Nairobi</a></li>
                
                 
              </ul>
         
        </div>
      </div>

      <div class="col-md-6">
      <div class="card card-body block" >
          <div id="why_buy">                            
              <div class="info_right">
                  <h5 class="text-center mb-3">Why book a bus with us?</h5>
                  <ul>
                      <li><i class="fas fa-check mr-2" style="color:rgb(48, 51, 246);font-size:17px;"></i><b>You can buy bus tickets</b> anytime from anywhere</li>
                      <li><i class="fas fa-check mr-2" style="color:rgb(48, 51, 246);font-size:17px;"></i>Pay by Mobile Money or Credit Card</li>
                      <li><i class="fas fa-check mr-2" style="color:rgb(48, 51, 246);"></i>Print your ticket online</li>
                      <li><i class="fas fa-check mr-2" style="color:rgb(48, 51, 246);font-size:17px;"></i>Good customer service</li>
                  </ul>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div class="row pt-5 mb-5 justify-content-center">
      <img src="../assets/img/sslcommerz_logo.png" class="img-fluid" alt="">
    </div>
  </div>
</div>